<% layout('layouts/boilerplateCart')%>

<!-- <section id="page-header" class="about-header"></section>
<div class="section-p1" id="cart">
    <h2>Cart</h2>
    
</div>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img/products/Custom-T.jfif" alt=""></td>
                <td>Custom Printed T-Shirts</td>
                <td>$118.19</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img/products/custom-Hoodie.PNG" alt=""></td>
                <td>Custom Printed Hoodies</td>
                <td>$118.19</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img/products/VinylMach.jfif" alt=""></td>
                <td>Custom Printed Banner</td>
                <td>$118.19</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>$118.19</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="cuopon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" name="" id="" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>


    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg" alt="">
            <img src="img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways </p>
        <img src="img/pay/pay.png" alt="">
    </div>
</div>


<script src="script.js"></script>

</body>

</html> 
</div> -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Shopping Cart</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
   
    </table>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
